# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
out/
dist/
build/
.turbo/

# env
.env
.env.local
.env.*.local

# testing / coverage
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
*.pem

# expo / mobile (future)
.expo/
